<div class="main">
    <div class="container__generale">
        <div class="upper__body">
            <div class="title__upper">
                <div class="title__upper__sezione__uno">
                    <h1>La Fogada</h1>
                    <h3>Vertical Race</h3>
                </div>
                <div class="title__upper__sezione__due">
                    <img src="../../../assets/images/fogada_img_2.jpg">
                </div>
                <div class="title__upper__sezione__tre">
                    <div>
                        <p>"Se ami le sfide come il correre in montagna oppure lo sci alpinismo allora <a style="font-style:italic;color: rgb(0, 102, 136)">la fogada</a> fa al caso tuo."</p>
                        <div>
                            <button class="light__button">Scopri di più</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coordinates">
                <h4>45°48'38.7"N</h4>
                <h4>10°54'50.8"E</h4>
            </div>
        </div>
        <div class="core__body">
            <div>
                <div class="core__body__superior">
                    <div class="testo__body">
                        <h1>La gara</h1>
                        <p>
                            La fogada vertical race è disputata nell'altopiano di Brentonico sia nel periodo <a style="font-style:italic">invernale</a> con l'utilizzo degli sci d'alpinismo e anche <a style="font-style:italic">l'estate</a>. La gara pone
                            i partecipante a una competizione contro gli altri ma soprattutto contro se stessi in questa salita non solo dura e impervia ma anche bella e piena di emozioni.
                        </p>
                    </div>
                    <div class="immagini__body__container">
                        <div class="immagini__body__container__sezuno">
                            <img class="img__body img__body__1" src="../../../assets/images/img__body__1.jpg">
                            <div>
                                <button class="full__button__light">Edizione estiva</button>
                            </div>
                        </div>
                        <div class="immagini__body__container__sezdue">
                            <img class="img__body img__body__2" src="../../../assets/images/img__body__2.jpg">
                            <div>
                                <button class="full__button">Edizione invernale</button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="container__body__contenuto">
                    <div class="container__body__contenuto__menu">
                        <div>
                            <h2 (click) ="coreBody = 0">Edizione estiva</h2>
                        </div>
                        <div>
                            <h2 (click) ="coreBody = 1">Edizione invernale</h2>
                        </div>
                    </div>
                    <div class="container__body__contenuto__inside">
                        <div class="body__estivo" *ngIf="coreBody == 0">
                            <div class="core__body__percorso">
                                    <div  class="core__body__percorso__desc">
                                        <div> 
                                            <h1>Il percorso</h1>
                                            <p>
                                                Il percorso è situato a Brentonico in Trentino e consiste nella risalita di un 
                                                percorso lungo 4 km con un dislivello di più di 700m che porta alla croce di malga campo,
                                                questa sfida è controllata in ogni dettaglio ed è studiata
                                                e curata dallo staff per rendere unica l'esperienza di chi lo percorre.
                                            </p>
                                        </div>
                                        <div class="core__body__percorso__desc__dati">
                                            <h2>Brentonico</h2>
                                            <h2>800m</h2>
                                            <h2>3km</h2>
                                        </div>
                                    </div>
                                    <div class="core__body__percorso__image">
                                        <img src="../../../assets/images/mappa.png">
                                    </div>
                            </div>
                        </div>
                        <div class="body__invernale" *ngIf="coreBody == 1">
                            <div class="core__body__percorso">
                                <h1>Il percorso</h1>
                                <p>
                                    Il percorso consiste nella risalita 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower__body">

        </div>
    </div>
    <div class="footer">
        <div class="footer__section__1">
            <div>
                <h2>La fogada</h2>
                <h4>Vertical Race</h4>
            </div>
        </div>
        <div class="footer__section__2">
            <div>
                <h2 style="font-size: 2rem;">Contatti</h2>
                <div>
                    <a>lafogada@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="footer__section__3">
            <div>
                <h2 style="font-size: 2rem;">Dove siamo</h2>
                <div>
                    <a>Brentonico, Italy</a>
                </div>
            </div>
        </div>
        <div class="octimal">
            <h4 (click)="octimal()">OCTIMAL</h4>
        </div>
    </div>

</div>
<div class="popup__message">
    <div>

    </div>
</div>
<div id="animazionecentro">
    <canvas #animazioneCentro></canvas>
</div>