<div class="main">
    <div class="container__generale">
        <div class="upper__body">
            <div class="title__upper">
                <div class="title__upper__sezione__uno">
                    <h1>La Fogada</h1>
                    <h3>Vertical Race</h3>
                    <div>
                        <h4>Brentonico, TN</h4>
                    </div>
                </div>
                <div class="title__upper__sezione__due">
                    <img src="../../../assets/images/fogada_img_1.jpg">
                </div>
                <div class="title__upper__sezione__tre">
                    <div>
                        <div>
                            <ul>
                                <li>
                                    <h4>La gara</h4>
                                </li>
                                <li>
                                    <h4>Photo gallery</h4>
                                </li>
                                <li>
                                    <h4>Contatti</h4>
                                </li>
                                <li>
                                    <h4>Iscrizione</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coordinates">
                    <h4>45°48'38.7"N</h4>
                    <h4>10°54'50.8"E</h4>
            </div>
        </div>
        <div class="core__body">
            <div>
                <h1>La gara</h1>
                <div>
                    <div class="testo__body">
                        <p>
                            La fogada vertical race è disputata nell'altopiano di Brentonico sia nel periodo <a style="font-style:italic">invernale</a> con l'utilizzo degli sci d'alpinismo e anche <a style="font-style:italic">l'estate</a>. La gara pone
                            i partecipante a una competizione contro gli altri ma soprattutto contro se stessi in questa salita non solo dura e impervia ma anche bella e piena di emozioni.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="lower__body">

        </div>
    </div>
    <div class="footer">
        <div class="footer__section__1">
            <h2>La fogada</h2>
            <h4>Vertical Race</h4>
        </div>
        <div class="footer__section__2">
            <div>
                <h2>Contatti</h2>
                <div>
                    <a>lafogada@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="footer__section__3">
            <div>
                <h2>Dove siamo</h2>
                <div>
                    <a>Brentonico, Italy</a>
                </div>
            </div>
        </div>
        <div class="octimal">
            <h4 (click)="octimal()">OCTIMAL</h4>
        </div>
    </div>

</div>
<div id="animazionecentro">
    <canvas #animazioneCentro></canvas>
</div>