.load__logo h1 {
    font-size: 8rem;
    padding: 10vw 10vw 0vw 10vw;
    color: var(--background);
}

.load__logo h3 {
    padding: 0vw 10vw 10vw 10vw;
    font-size: 3rem;
    color: var(--background);
}

.load__logo {
    margin: 0;
    top: 0;
    text-align: center;
    height: 1300px;
    background-size: cover;
    background-position: center;
}

.fogada {
    display: block !important;
    overflow-x: hidden;
}

.change__mode {
    position: fixed;
    margin-top: 40px;
    margin-left: 40px;
}

.container__generale {
    padding: 0 10vw 0 10vw;
}

.upper__body {
    height: 900px;
    display: flex;
    align-items: center;
    margin-bottom: 10vw;
}

.title__upper {
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
}

.title__upper__sezione__uno {
    z-index: 99;
    margin-top: 6vw;
}

.title__upper__sezione__due {
    z-index: 50;
}

.title__upper__sezione__due img {
    width: 100%;
    animation: upper_animation 2s ease-in-out;
}

@keyframes upper_animation {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title__upper__sezione__uno h1 {
    margin-right: -10vw;
    font-size: 8rem;
    margin-left: 6vw;
    color: var(--fogada__blue);
}

.title__upper__sezione__uno a {
    margin-right: -10vw;
    margin-left: 6vw;
    padding: 5px 20px 5px 20px;
    text-align: center;
    color: white !important;
    background-color: var(--fogada__blue);
}

.title__upper__sezione__uno h3 {
    margin-top: -0.0cm;
    margin-left: 3vw;
    margin-right: -10vw;
    font-size: 3rem;
    color: var(--fogada__blue);
}

.title__upper__sezione__tre {
    padding: 12vw 0vw 10vw 5vw;
    z-index: 99;
}

.coordinates {
    padding: 0vw 0vw 0vw 0vw;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: -5;
}

.coordinates h4 {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    font-size: 24rem;
    color: var(--text__back);
    transform: rotate(10deg);
}

.typewriter h4 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s;
}

@keyframes typing {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

button {
    border-radius: 2rem;
    padding: 1vw 2vw 1vw 2vw;
    transition: .2s;
}


/* 

C
O
R
E

*/

.core__body__superior__inside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.testo__body {
    margin: 0 4vw 0 4vw;
    max-width: 400px
}

.testo__body h1 {
    margin-top: 0;
}

.immagini__body__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.immagini__body__container button {
    margin: -4vw 1vw 1vw 1vw !important;
}

.img__body {
    width: 400px;
}

.immagini__body__container__sezuno {
    margin-top: -1cm;
}

.immagini__body__container__sezdue {
    margin-left: 2cm;
    margin-top: 2cm;
}

.core__body__percorso__desc {
    margin: 0vw 6vw 0vw 6vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.core__body__percorso__desc p {
    max-width: 700px;
}

.core__body__percorso__desc__dati {
    padding: 6vw 0vw 6vw 0vw;
}

.core__body__percorso__desc__dati div {
    display: flex;
    margin-top: 1vw;
    margin-bottom: 2vw
}

.core__body__percorso__desc__dati svg {
    margin-top: 10px;
}

.core__body__percorso__desc__dati h2 {
    font-family: 'Bebas Neue', cursive;
    color: var(--fogada__blue);
    font-size: 3rem;
    margin: 0;
    padding: 0;
    margin-left: 2vw;
}

.core__body__percorso__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.core__body__percorso__image img {
    width: 80vw;
}

.lower__body__uno {
    z-index: 99;
    margin: 0vw 5vw 5vw 8vw;
}

.lower__body__uno p {
    max-width: 9cm;
    margin-top: 0;
}

.lower__body__uno h1 {
    margin-top: 0;
}

.compila {
    font-size: 2rem;
}

.container__iscrizioni__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__iscrizioni__numbers__inside {
    margin: 4vw;
    text-align: center;
}

.text {
    width: 20cm;
    animation: countUp 1s ease-in-out;
}

.elenco h3 {
    margin-left: 2vw;
    margin-bottom: -10px;
}

.elenco p {
    margin-top: -10px;
    margin-left: 2vw;
    margin-block-start: 0;
    margin-bottom: 2vw;
    width: 40vw;
}

.elenco__dot {
    height: 10px;
    width: 10px;
    border: 2px solid var(--fogada__blue);
    border-radius: 10px;
}

.big__text {
    z-index: -5;
    position: absolute;
    margin-top: -4cm;
    margin-left: -5cm;
    font-size: 20rem;
    color: var(--text__back);
    width: 50cm;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
}

.iscrizioni__container__text {
    margin-top: -14cm;
    position: relative;
}

.iscrizioni__container__images {
    margin-top: -8vw;
    z-index: -2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
}

.ici_1 {
    margin-top: 2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ici_2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ici_3 {
    margin-top: 2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ici_1 img {
    width: 10cm;
    opacity: 0.2;
}

.ici_2 img {
    width: 12cm;
    opacity: 0.2;
}

.ici_3 img {
    width: 10cm;
    opacity: 0.2;
}

@keyframes countUp {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lower__body__up {
    z-index: 99;
    position: sticky;
}

.fogada__subscribe {
    position: absolute;
    z-index: 50;
}

.fogada__subscribe img {
    width: 1420px;
    margin-left: 10cm;
    margin-top: -2cm;
    margin-right: -10cm;
}

.countdown__output__container {
    margin-top: -15cm;
    width: 54cm;
    position: absolute;
    z-index: 0;
}

.countdown__output__container h4 {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    font-size: 16rem;
    color: var(--text__back__counter);
    transform: rotate(-10deg);
}

.galleria__interna {
    margin: 0 -8cm 0 -8cm;
}

.galleria__plus {
    margin: 2vw 0 0 0;
    text-align: center;
    display: none;
}

.body__galleria__reverse {
    z-index: 50;
    width: 100%;
    height: 400px;
    overflow: hidden;
    white-space: nowrap;
}

.body__galleria {
    z-index: 50;
    width: 100%;
    height: 400px;
    overflow: hidden;
    white-space: nowrap;
}

.item {
    transition: .2s;
    margin: 2vw;
    display: inline-block;
    height: 400px;
    width: 600px;
    background-size: cover;
}

.box1 {
    background-image: url('../assets/images/carousel__image/ci_1.jpg');
}

.box2 {
    background-image: url('../assets/images/carousel__image/ci_2.jpg');
}

.box3 {
    background-image: url('../assets/images/carousel__image/ci_3.jpg');
}

.box4 {
    background-image: url('../assets/images/carousel__image/ci_4.jpg');
}

.box5 {
    background-image: url('../assets/images/carousel__image/ci_6.jpg');
}

.box6 {
    background-image: url('../assets/images/carousel__image/ci_5.jpg');
}

.box7 {
    background-image: url('../assets/images/carousel__image/ci_7.jpg');
}

.box8 {
    background-image: url('../assets/images/carousel__image/ci_9.jpg');
}


/* 

F
O
O
T
E
R

*/

.footer {
    position: sticky;
    height: 900px;
    z-index: 99;
    background-color: var(--fogada__blue);
    padding: 10vw 20vw 0vw 20vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas: "footer__section__1 footer__section__2 footer__section__3" "octimal octimal octimal";
}

.footer a {
    color: var(--background) !important;
}

.footer__section__1 {
    grid-area: footer__section__1;
    display: flex;
    align-items: center;
}

.footer__section__2 {
    grid-area: footer__section__2;
    display: flex;
    align-items: center;
}

.footer__section__3 {
    grid-area: footer__section__3;
    display: flex;
    align-items: center;
}

.footer__section__1 h2 {
    margin-top: -2cm;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 8rem;
}

.footer__section__1 h4 {
    font-size: 3rem;
    margin-top: -2cm;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.footer h2 {
    color: white;
}

.footer__section__2 h2 {
    font-size: 2rem;
}

.footer__section__3 h2 {
    font-size: 2rem;
}

.footer a {
    color: white !important;
}

.octimal {
    margin-top: 2vw;
    margin-bottom: 4vw;
    grid-area: octimal;
    text-align: center;
}

.octimal h4 {
    color: #3b3b3b44;
    transition-duration: 0.2s;
    font-family: 'Montserrat', sans-serif !important;
    cursor: pointer;
}

.octimal h4:hover {
    color: #007E6D
}

#animazionecentro {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.main {
    display: block;
    position: absolute;
    overflow: inherit;
    width: 100%;
    z-index: 90;
}

.navbar {
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

.navbar__inside {
    width: 800px;
}

.dotts {
    margin-top: -14px;
    display: flex;
    justify-content: center;
    width: 800px;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 14px;
    border: 5px solid rgba(228, 227, 227, 0.603);
}

.line {
    width: 0;
    height: 6px;
    transition: height 0.5s ease;
    background-color: rgba(228, 227, 227, 0.603);
    border-radius: 10px;
    width: 800px;
}

.core__body__superior {
    height: 1200px;
    display: flex;
    align-items: center;
}

.core__body__superior__inside {}

.core__body__percorso {
    height: 1400px;
    display: flex;
    align-items: center;
}

.core__body__percorso__inside {}

.core__body__programma {
    height: 1200px;
    display: flex;
    align-items: center;
}

.core__body__programma__inside {
    padding: 0 6vw 0 6vw;
}

.iscrizioni__container {
    height: 1200px;
    display: flex;
    align-items: center;
}

.iscrizioni__container__inside {}

.galleria__container {
    height: 1200px;
}

.galleria__container__inside {}

.lower__body {
    height: 1000px;
}

.lower__body__inside {
    position: absolute;
    bottom: 1400px;
}

@media only screen and (max-width:1620px) {
    .title__upper__sezione__uno h1 {
        font-size: 8rem;
        margin-left: 3vw;
    }
    .title__upper__sezione__uno h3 {
        margin-left: 1vw;
        font-size: 3rem;
    }
    p,
    a {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        line-height: 2rem;
    }
    .img__body {
        width: 340px;
    }
    .footer {
        height: 600px;
    }
    .upper__body {
        height: 760px;
    }
    .lower__body__inside {
        bottom: 1000px;
    }
    .core__body__superior {
        height: 1000px;
    }
    .core__body__percorso {
        height: 1200px;
    }
    .core__body__programma {
        height: 1000px;
    }
    .iscrizioni__container {
        height: 1000px;
    }
    .galleria__container {
        height: 1200px;
        margin-top: 25vw
    }
}

@media only screen and (max-width:1480px) {
    .title__upper__sezione__uno h1 {
        font-size: 6rem;
    }
    .coordinates h4 {
        font-size: 16rem;
    }
    .core__body__superior__inside {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". .";
    }
    .container__generale {
        padding: 0 6vw 0 6vw;
    }
    .iscrizioni__container__images {
        margin-top: -8vw;
        z-index: -2;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". . .";
    }
    .footer__section__1 h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 6rem;
    }
    .footer__section__1 h4 {
        margin-top: 0;
        font-size: 2rem;
    }
    .footer__section__2 h2 {
        font-size: 1.5rem;
    }
    .footer__section__3 h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:1111px) {
    .navbar {
        display: none;
    }
    .galleria__container__inside h1 {
        margin-left: 6vw;
    }
    .testo__body {
        margin-left: 6vw;
    }
    .container__generale {
        padding: 0 2vw 0 2vw;
    }
    .img__body__2 {
        display: none;
    }
    p,
    a {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;
    }
    .title__upper__sezione__uno {
        text-align: center;
    }
    .title__upper__sezione__uno h1 {
        font-size: 6rem;
        margin-right: -2cm;
        margin-left: 0vw;
    }
    .title__upper__sezione__uno h3 {
        font-size: 3rem;
        margin-right: 0vw;
        margin-left: -4cm;
    }
    .title__upper__sezione__uno a {
        margin-right: 0vw;
        margin-left: 0vw;
    }
    .title__upper {
        z-index: 99;
        display: block;
        position: relative;
    }
    .upper__body__inside {
        display: flex;
        align-items: center;
    }
    .title__upper__sezione__due {
        display: none;
    }
    .title__upper__sezione__tre {
        padding: 4vw 24vw 10vw 24vw;
        text-align: center;
        z-index: 99;
    }
    .core__body__percorso__desc {
        margin: 0vw 6vw 0vw 6vw;
        display: block;
    }
    .core__body__percorso__desc__dati {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". . .";
    }
    .core__body__percorso__desc__dati div {
        display: flex;
        justify-content: center;
    }
    .core__body__percorso__desc__dati h2 {
        font-size: 2rem;
        margin-left: 1vw;
    }
    .core__body__percorso__desc__dati svg {
        margin-top: 0px;
    }
    .elenco p {
        margin-top: -10px;
        margin-left: 2vw;
        margin-block-start: 0;
        margin-bottom: 2vw;
        width: 80vw;
    }
    .immagini__body__container__sezuno {
        margin-top: 0cm;
    }
    .countdown__output__container {
        margin-top: -8cm;
        width: 40cm;
    }
    .countdown__output__container h4 {
        font-size: 12rem;
    }
    .fogada__subscribe img {
        width: 1420px;
        margin-left: 0cm;
        margin-top: -2cm;
        margin-right: 0cm;
    }
    .footer {
        padding: 10vw 8vw 0vw 8vw;
    }
    .upper__body {
        height: 700px;
    }
    .core__body__superior {
        height: 800px;
    }
    .core__body__percorso {
        height: 1000px;
    }
    .core__body__programma {
        height: 1000px;
    }
    .iscrizioni__container {
        height: 1200px;
        margin-top: -5cm;
    }
    .galleria__container {
        height: 1200px;
        margin-top: 5cm;
    }
    .lower__body {
        height: 1000px;
    }
    .lower__body__inside {
        bottom: 1200px;
    }
}

@media only screen and (max-width:900px) {
    .iscrizioni__container__images {
        margin-left: -8cm;
        margin-right: -8cm;
    }
    .text {
        width: 16cm;
    }
    .container__iscrizioni__numbers {
        text-align: center;
    }
    .footer {
        padding: 10vw 8vw 0vw 8vw;
        display: block
    }
}

@media only screen and (max-width:700px) {
    .iscrizioni__container__inside{
        margin-top: 4cm;
    }
    .text {
        width: 8cm;
    }
    .iscrizioni__container {
        margin-top: 0cm;
    }
    .galleria__container {
        margin-top: 0cm;
    }
    .title__upper__sezione__uno h1 {
        margin-right: 0vw;
        font-size: 5rem;
        margin-left: 0vw;
    }
    .title__upper__sezione__uno h3 {
        margin-left: 0vw;
        font-size: 2rem;
        margin-left: 0vw;
        margin-right: 0vw;
    }
    p,
    a {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        line-height: 1.2rem;
    }
    .upper__body {
        display: flex;
        align-items: center;
        margin-bottom: 10vw;
    }
    .core__body__superior {
        height: 600px;
        display: flex;
        align-items: center;
    }
    .core__body__percorso {
        height: 900px;
        display: flex;
        align-items: center;
    }
    .core__body__programma {
        height: 700px;
        display: flex;
        align-items: center;
    }
    .core__body__programma__inside {
        padding: 0 6vw 0 6vw;
    }
    .iscrizioni__container {
        height: 700px;
        display: flex;
        align-items: center;
    }
    .galleria__container {
        height: 1000px;
    }
    .lower__body {
        height: 900px;
    }
    .lower__body__inside {
        position: absolute;
        bottom: 1200px;
    }
    .footer {
        height: 800px;
        padding: 8vw 14vw 8vw 14vw;
    }
    h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
    .ici_1 img {
        width: 6cm;
    }
    .ici_2 img {
        width: 8cm;
    }
    .ici_3 img {
        width: 6cm;
    }
    .img__body {
        width: 400px;
        opacity: 0.2;
        margin-left: -5cm;
    }
    .testo__body {
        margin-top: 2cm;
        width: 8cm;
    }
    .core__body__percorso__desc__dati div {
        display: flex;
        margin-top: 4vw;
        margin-bottom: 6vw;
    }
    .core__body__percorso__desc__dati svg {
        margin-top: 4px;
        height: 18px !important;
        width: 18px !important
    }
    .core__body__percorso__desc__dati h2 {
        font-size: 1.5rem;
    }
    .iscrizioni__container {
        display: block;
        align-items: center;
    }
    .iscrizioni__container__text {
        margin-top: -10cm;
        position: relative;
    }
    .iscrizioni__container__images {
        margin-top: 18vw;
    }
    .countdown__output__container {
        width: 45cm;
        margin-top: -16cm;
        margin-left: -4cm;
    }
    .countdown__output__container h4 {
        font-size: 8rem;
        transform: rotate(-35deg);
    }
    .fogada__subscribe {
        margin-left: -4cm;
        margin-top: -9cm;
        margin-right: 0cm;
    }
    .lower__body__uno {
        width: 5cm;
    }
    .form__iscrizione {
        margin-top: 10vw;
    }
    .lower__body__up {
        margin-top: -4cm;
    }
    .compila {
        padding: 3vw 5vw 3vw 5vw;
        font-size: 1.4rem;
    }
    .footer__section__1 h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 4rem;
    }
    .footer__section__1 {
        margin-top: 200px;
    }
    .octimal {
        margin-top: 150px;
    }
    .octimal h4 {
        font-size: 1.3rem;
    }
    .big__text {
        display: none;
    }
}